.navbar {
    background-color: #5FB404;
    font-size: x-large;
    font: bold white;
}

.quem-somos{
    background-color: #01DF3A
    color: black;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: #01DF3A;
}

.bg-footer{
    background-color: #5FB404;
    color: white;
}